@import "/node_modules/bootstrap/scss/bootstrap.scss";


.btn-delete-link{
    color: gray;
    padding: 0;
    font-style: bold;
    border-style: none;
    background-color: white;
}

.btn-delete-link:hover{
    color: $danger;
}